.inter-Language1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-Language2 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared class */
section {
  width: 1140px;
  margin: 0 auto;
}

/* 1. Navbar css */

.nav-both {
  width: 1140px;
  margin: 0 auto;
  /* align-items: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.liClass {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.mainfirst {
  display: flex;
  margin-top: 130px;
}

.mainfirst-left h3 {
  color: #000000;
  font-weight: bold;
  font-size: 65px;


}

.mainfirst-left p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 22px;

}

.plants p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 22px;
}

.plants{
  margin-top: 120px;
  
}




.spanColor {
  color: #E95A08;
}

.image-portion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.plants-heading{
  text-align: center;
}

.plants-top-portion {

  font-weight: bold;
  font-size: 50px;
  
}

.box-image h4{
  font-size: 500;
  font-size: 22px;
}
.btn-primary{
  color: #FFFFFF;
  background-color: #E95A08;
  font-weight: bold;
  font-size: 16px;
  padding: 19px 80px;
  border-radius: 10px;
  border: none;
}

/* 1. Navbar css Responsive*/

@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }

  .nav-both {
    width: 100%;

  }


}