.inter-Language1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-Language2 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared class */
section {
  width: 1140px;
  margin: 0 auto;
}

/* 1. Navbar css */

.nav-both {
  width: 1140px;
  margin: 0 auto;
  /* align-items: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.liClass {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.mainfirst {
  display: flex;
  margin-top: 130px;
}

.mainfirst-left h3 {
  color: #000000;
  font-weight: bold;
  font-size: 65px;


}

.mainfirst-left p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 22px;

}





.spanColor {
  color: #E95A08;
}




/* 1. Navbar css Responsive*/

@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }

  .nav-both {
    width: 100%;

  }


}